.productsContainer {
  display: grid;
  grid-template-columns: 200px 1fr 150px;
  gap: 1rem;
}

.productsContainer > section:nth-child(3) {
  height: fit-content;
  font-size: 0.8rem;
}

.productsContainer > section:nth-child(3) > h3 {
  margin: 0 0 0.5rem 0;
}
