.navbar {
    display: grid;
    grid-template-columns: 200px 1fr 150px;
    align-items: center;
    height: 4rem;
    background-color: white;
    padding-inline: 2rem;
}

.navbar > div:nth-child(2) {
    width: 70%;
    justify-self: center;
    padding: .25rem;
    background-color: var(--background-accent-clr);
    border-radius: 5px;

    display: grid;
    grid-template-columns: 20px 1fr;
    place-items: center;
}

.navbar > div:nth-child(2):focus-within {
    border-color: var(--accent-clr);
    outline: 1px solid var(--accent-clr);
    background-color: white;
    box-shadow: 0 2px 8px #00000033;
}

.navbar > div:nth-child(2) > input {
    width: 100%;
    border: 0;
    padding: .25rem .5rem;
    background-color: var(--background-accent-clr);
}

.navbar > div:nth-child(2) > input:focus {
    outline: 0;
    background-color: white;
}

.navbar > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: end;
    gap: 1rem;
}

.navbar > ul svg {
    font-size: 1.25rem;
}

.navbar button {
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 0;
}